@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 300px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.logo {
    width: 30px;
    height: 30px;
}

.message {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message h4 {
    font-weight: 300;
}

.email, .password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 15px 0px;
    gap: 5px;
}

.email label, .password label {
    font-weight: 400;
}

.input-sh {
    padding: 8px;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 15px;
    transition: box-shadow 500ms;
    cursor: pointer;
}

.input-sh:hover {
    box-shadow: 0 0 4px black;
}

.input-sh:focus {
    box-shadow: 0 0 4px black;
    outline: none;
}

.action {
    width: 100%;
    margin: 15px 0px;
}

.action button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #a7fc84;
    cursor: pointer;
    transition: background-color 500ms;
}

.action button:hover {
    background-color: #56fa15;
}

.action button:active {
    background-color: #217400;
    transition: background-color 5ms;
}

.separator {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 15px 0px;
}

.separator hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(177, 177, 177);
}

.google, .apple {
    width: 100%;
    margin: 15px;
}

.google button, .apple button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 500ms, box-shadow 500ms;
}

.google button:hover, .apple button:hover {
    box-shadow: 0 0 4px black;
    background-color: rgb(228, 225, 225);
}

.google img, .apple img {
    height: 30px;
}

