/* Crea un nuevo documento HTML con el título "Animaciones y transiciones en CSS"
Crea un nuevo fichero CSS e impórtalo en el documento HTML principal
En el body crea un botón con el atributo class "btn-modern"
Implementa las líneas necesarias en el CSS para que cuando el ratón pase por encima del botón ocurra lo siguiente (hover):
El botón se traslade -5px en el eje de las Y
Se añada una sombra
El color de fondo del botón cambie
El color del texto cambie
Todo esto con una transición de 0.4s */

div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.btn-modern {
    width: 400px;
    height: 100px;
    transition: all 400ms;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 40px;
}

.btn-modern:hover {
    box-shadow: 0 0 20px black;
    background-color: rgb(184, 184, 184);
    color: red;
    font-size: 50px;
    transform: translateY(-5px);
}
